<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ice.stickershock_shockvx">


    <!-- Turn on following permissions for app use. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- Turn on NFC handling for app use. -->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".TopScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ReadStickerNfc" />
        <activity android:name=".WelcomeScreen" />
        <activity android:name=".TrackAsset" />
        <activity android:name=".TabbedActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity android:name=".bluetooth.BluetoothScanActivity" />
        <activity android:name=".bluetooth.BluetoothControlActivity" />


        <!-- Enable local bluetooth service handler BluetoothLeService. -->
        <service android:name=".bluetooth.BluetoothLeService" android:enabled="true"/>
        <!-- Enable local datalogging Service -->

    </application>


</manifest>